<!DOCTYPE html>
<html lang="en">
{% load compress %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django + Tailwind CSS + Flowbite</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark-dimmed.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>


    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">


    {% endcompress %}

</head>

<body>

<script src="../path/to/flowbite/dist/flowbite.min.js"></script>
<script>
		window.addEventListener("load", () => {
		    hljs.highlightAll();
		})




</script>


</body>

</html>